html {
    background: -webkit-linear-gradient(top, rgb(168, 194, 223) 0%, rgb(76, 74, 196) 50%, rgb(58, 24, 181) 100%);
}


body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url()
}


.first-table-one {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 15%
}

.gain-center {
    transition: 0.5s;
    text-align: center;
}

.gain-center:hover {
    transform: scale(1.1);
}

.first-table-two {
    text-align: left;
    font-size: 12px;
    width: 65% font-family serif, "Times New Roman";
}

.first-table-three {
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

input {
    padding: 5px;
}

.head-img {
    display: block;
    width: 750px;
    size: 100px;
    margin-left: auto;
    margin-right: auto;
}

.tableFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.tabl-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: rgba(40, 152, 216, 0.445) 2px solid;

}

.hover-image {
    /* display: flex; */
}

.hover-image img {
    transition: 1s;
    display: block;
}

.hover-image img:hover {
    transform: scale(1.2);
}

.first {
    color: green;
    font-size: 10px;
    border: blue 2px solid;
    padding: 5px;
    display: inline-block;
}

.second {
    color: black;
    font-size: 15px;
    border: red 3px solid;
    padding: 5px;
    display: inline-block;
}

.areaTextOne {
    color: yellow;
    font-size: 20px;
    border: green 5px solid;
    display: inline-block;
}

.tree {
    color: orange;
    border: white 5px solid;
}

.four {
    color: black;
    border: green 4px solid;
    display: inline-block;
}

.headerCenter {
    text-align: center;
    border: black 1px solid;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    width: 200px;
    height: 200px;
}